
body {
    background-color:#FDF5E6; 
    text-align: center;      
    padding: 50px 0;
}

.title {
    font-size: 28px;
    font-weight: bold;
    color: #222222;
    margin-top: 40px;
    margin-bottom: 60px;
}

.brand {
    max-width: 800px;
    margin: 0 auto 100px auto; 
}


.brand img {
    width: 45%;       
    height: auto;    
    margin: 10px;  
    display: inline-block;
}

.brand img:hover {
    transform: scale(1.5); 
}



 .brand h2 { font-size: 16px; margin-top: 20px; color: #222222; }
.brand p { font-size: 11px; color: #666666; }
.back { margin-top: 50px; }
.back a { color: #222222; font-size: 13px; }





@media screen and (max-width: 1200px) {
    body {
        background-color: #FDF5E6; 
    }
}



@media screen and (max-width: 900px) {
    body {
        background-color: #FAEBD7; 
    }
    
    
    .brand img {
        width: 85%;      
        height: auto;
        display: block;   
        margin: 20px auto; 
    }


.brand h2 {
        white-space: normal !important;  
        word-break: keep-all !important; 
        overflow-wrap: break-word !important;
        
        display: block !important;
        padding: 0 10px;
    }




}